:root{
    --primary-color: #1D1F1E;
    --dark-color: #504e4e;
    --gray-dark-color:#918c8c;
    --gray-color: #dcdedc;
    --pink-color: #FDEFEE;
    --red-color: #D82627;
    --white-color: #ffffff;
}